/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container, header .intro {
  font-family: "Colab Light", sans-serif;
  font-weight: 200; }

.about-resume #resume, .contact-content #email {
  border: 2px solid #112739;
  background-color: #ebeffb;
  padding: 5px;
  border-radius: 3px; }

.heading h2 {
  align-self: center;
  width: 100%;
  background: #232C33;
  height: 50px;
  text-align: center;
  font-size: 2em;
  color: #6683E1;
  padding-top: 8px;
  font-family: "DIN Pro Condensed Regular", monospace; }

header .neonSign #hello, header .neonSign #h {
  padding-left: 15px;
  font-size: 5rem;
  color: #F3AAC3;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #ff76da;
  font-family: "Neon Lights", sans-serif;
  text-shadow: 0px 0px 25px #DC00A0, 20px 0 50px #DC00A0, -20px 0 50px #DC00A0, 0px -18px 70px #DC00A0, 0px 18px 70px #DC00A0; }

@keyframes blink {
  0% {
    opacity: 0; }
  65% {
    opacity: 1; }
  66% {
    opacity: 0; }
  79% {
    opacity: 1; }
  80% {
    opacity: 0; }
  95% {
    opacity: 1; }
  99% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes blink2 {
  0% {
    opacity: 0; }
  5% {
    opacity: 0; }
  11% {
    opacity: 1; }
  12% {
    opacity: 0; }
  79% {
    opacity: .2; }
  85% {
    opacity: 0; }
  90% {
    opacity: .8; }
  99% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes bounce {
  25% {
    transform: translateY(25%); }
  50% {
    transform: translateY(0%); }
  75% {
    transform: translateY(25%); } }
@font-face {
  font-family: 'DIN Pro Condensed Regular';
  font-style: normal;
  src: local("DIN Pro Condensed Regular"), url("../fonts/DINPro-Cond.woff") format("woff"); }
@font-face {
  font-family: 'Neon Lights';
  src: url("../fonts/neonlights-webfont.woff") format("woff"); }
@font-face {
  font-family: 'Colab Light';
  src: url("../fonts/Colablig.off") format("off"); }
@font-face {
  font-family: 'Colab Thin';
  src: url("../fonts/Colabthi.off") format("off"); }
@font-face {
  font-family: "Hiragino Sans GB W3";
  src: url("3b2646a48566403a55f62ceddbecbe18.eot");
  /* IE9*/
  src: url("../fonts/3b2646a48566403a55f62ceddbecbe18.ttf") format("truetype"), url("3b2646a48566403a55f62ceddbecbe18.svg#Hiragino Sans GB W3") format("svg");
  /* iOS 4.1- */ }
* {
  box-sizing: border-box; }
  * a {
    text-decoration: none;
    color: black; }

.container {
  min-width: 320px;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.page-content {
  flex: 1; }

#triangle {
  width: 50px;
  height: auto;
  -webkit-animation: bounce 2.5s;
  animation: bounce 2.5s ease-in-out;
  animation-iteration-count: 2;
  -webkit-animation-delay: 4s;
  /* Safari */
  animation-delay: 4s; }

#triangle:hover {
  -webkit-animation: bounce 2.5s;
  animation: bounce 2.5s ease-in-out; }

nav {
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  width: 100%;
  height: 100px;
  max-width: 800px; }
  nav img {
    display: none;
    width: 100px; }
    @media screen and (min-width: 414px) {
      nav img {
        display: block; } }
  nav a, nav span {
    font-family: "DIN Pro Condensed Regular", monospace;
    font-size: 1.5em; }
    @media screen and (min-width: 800px) {
      nav a, nav span {
        font-size: 2em; } }

header {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center; }
  @media screen and (min-width: 500px) {
    header {
      width: 500px; } }
  header .neonSign {
    position: relative;
    display: flex; }
    header .neonSign audio {
      display: none; }
    header .neonSign #hello {
      animation: blink linear 4s;
      padding: 0; }
      @media screen and (min-width: 800px) {
        header .neonSign #hello {
          font-size: 8em; } }
    header .neonSign #h {
      animation: blink2 linear 4s; }
      @media screen and (min-width: 800px) {
        header .neonSign #h {
          font-size: 8em; } }
    header .neonSign #backgroundText {
      position: absolute;
      top: 0;
      left: 0;
      padding-left: 15px;
      font-size: 5rem;
      font-family: "Neon Lights", sans-serif;
      opacity: 0.25;
      color: #e9e9e9; }
      @media screen and (min-width: 800px) {
        header .neonSign #backgroundText {
          font-size: 8em; } }
  header .intro {
    text-align: right;
    padding-right: 0.5em;
    font-size: 1.8em;
    min-width: 300px; }
    @media screen and (min-width: 414px) {
      header .intro {
        font-size: 2em; } }
  header a {
    align-self: center;
    margin-top: 40%; }

.heading {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin: 0 auto;
  max-width: 1000px; }
  @media screen and (min-width: 760px) {
    .heading h2 {
      display: none; } }

@media screen and (min-width: 760px) {
  #work, #contact {
    display: flex;
    flex-flow: row nowrap;
    max-width: 1000px;
    margin: 0 auto; } }

.work-content {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 590px;
  margin: 0 auto; }
  .work-content a img {
    padding: 20px; }
    @media screen and (min-width: 760px) {
      .work-content a img {
        padding: 0;
        align-self: center; } }

.wide {
  width: 30%;
  height: 500px;
  padding: 150px;
  background: #232C33;
  display: none;
  z-index: -1; }
  @media screen and (min-width: 759px) {
    .wide {
      display: flex;
      justify-content: center;
      align-content: center; } }

@media screen and (min-width: 759px) {
  #work-image {
    align-self: center;
    width: 100px;
    height: 100px;
    z-index: 999; } }

#about {
  background-color: #ebeffb;
  padding: 150px 0;
  max-width: 1000px;
  margin: 0 auto; }

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; }
  .top #about-heading {
    font-family: "DIN Pro Condensed Regular", monospace;
    text-align: center;
    font-size: 3.5em;
    padding-right: 15px; }

.about-content {
  padding: 15px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto; }
  .about-content p, .about-content h3 {
    font-size: 1.25em;
    line-height: 1.2;
    padding: 10px; }
  .about-content ul {
    line-height: 1.2;
    font-size: 1.2em; }

#mao {
  align-self: center;
  width: 50%;
  height: 50%;
  max-width: 200px;
  border-radius: 50%;
  border: 1px solid #232C33; }

.aboutImages {
  display: flex;
  justify-content: center; }
  .aboutImages img {
    width: 30%;
    height: 30%;
    padding: 5px; }

.about-resume {
  text-align: center;
  margin-top: 25px;
  padding: 20px 0; }
  .about-resume #resume {
    align-self: center;
    font-size: 2em;
    font-family: "DIN Pro Condensed Regular", monospace;
    transition: all 0.5s ease-in-out; }
  .about-resume #resume:hover {
    color: #1944D8; }

.contact-content {
  width: 100%;
  margin: 5% 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }
  .contact-content .icons {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #232C33; }
    @media screen and (min-width: 760px) {
      .contact-content .icons {
        padding-bottom: 20px; } }
    .contact-content .icons a {
      padding: 10px 10px 0 10px; }
  .contact-content p {
    padding: 20px 10px;
    font-size: 1.2em;
    font-weight: bold; }
  .contact-content #email {
    font-size: 1.5em;
    margin: 20px 0;
    transition: all 0.5s ease-in-out; }
  .contact-content #email:hover {
    color: #1944D8; }

@media screen and (min-width: 759px) {
  #contact-image {
    align-self: center;
    width: 200px;
    height: auto;
    z-index: 999; } }

.resume {
  width: 100%;
  height: auto;
  max-width: 800px;
  margin: 20px auto; }

/*# sourceMappingURL=main.css.map */
