/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container, header .intro {
  font-family: "Colab Light", sans-serif;
  font-weight: 200; }

.about-resume #resume, .contact-content #email {
<<<<<<< HEAD
  border-bottom: 2px solid #6683E1;
=======
  border-bottom: 2px solid #112739;
>>>>>>> 9eb4cfa982517ada32f6cb9b78a789476ddb08f4
  padding: 5px; }

.heading h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #232C33;
  height: 100px;
  text-align: center;
  font-size: 3em;
  color: #6683E1;
  padding-top: 8px;
  font-family: "DIN Pro Condensed Regular", monospace; }

header .neonSign #hello, header .neonSign #h {
  padding-left: 15px;
  font-size: 5rem;
  color: #F3AAC3;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #ff76da;
  font-family: "Neon Lights", sans-serif;
  text-shadow: 0px 0px 25px #DC00A0, 20px 0 50px #DC00A0, -20px 0 50px #DC00A0, 0px -18px 70px #DC00A0, 0px 18px 70px #DC00A0; }

@keyframes blink {
  0% {
    opacity: 0; }
  65% {
    opacity: 1; }
  66% {
    opacity: 0; }
  79% {
    opacity: 1; }
  80% {
    opacity: 0; }
  95% {
    opacity: 1; }
  99% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes blink2 {
  0% {
    opacity: 0; }
  5% {
    opacity: 0; }
  11% {
    opacity: 1; }
  12% {
    opacity: 0; }
  79% {
    opacity: .2; }
  85% {
    opacity: 0; }
  90% {
    opacity: .8; }
  99% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes bounce {
  25% {
    transform: translateY(25%); }
  50% {
    transform: translateY(0%); }
  75% {
    transform: translateY(25%); } }
@font-face {
  font-family: 'DIN Pro Condensed Regular';
  font-style: normal;
  src: local("DIN Pro Condensed Regular"), url("../fonts/DINPro-Cond.woff") format("woff"); }
@font-face {
  font-family: 'Neon Lights';
  src: url("../fonts/neonlights-webfont.woff") format("woff"); }
@font-face {
  font-family: 'Colab Light';
  src: url("../fonts/Colablig.off") format("off"); }
@font-face {
  font-family: 'Colab Thin';
  src: url("../fonts/Colabthi.off") format("off"); }
@font-face {
  font-family: "Hiragino Sans GB W3";
  src: url("3b2646a48566403a55f62ceddbecbe18.eot");
  /* IE9*/
  src: url("../fonts/3b2646a48566403a55f62ceddbecbe18.ttf") format("truetype"), url("3b2646a48566403a55f62ceddbecbe18.svg#Hiragino Sans GB W3") format("svg");
  /* iOS 4.1- */ }
* {
  box-sizing: border-box; }
  * a {
    text-decoration: none;
    color: black; }

.container {
  min-width: 320px;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.page-content {
  flex: 1; }

#triangle {
  width: 50px;
  height: auto;
  -webkit-animation: bounce 2.5s;
  animation: bounce 2.5s ease-in-out;
  animation-iteration-count: 2;
  -webkit-animation-delay: 4s;
  /* Safari */
  animation-delay: 4s; }

#triangle:hover {
  -webkit-animation: bounce 2.5s;
  animation: bounce 2.5s ease-in-out; }

.fp-viewing-firstPage .container #menu {
  background-color: #232C33;
  color: white; }
  .fp-viewing-firstPage .container #menu a {
    color: white; }

#menu {
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  width: 100%;
  height: 60px;
  z-index: 9999; }
  @media screen and (min-width: 414px) {
    #menu {
      height: 100px; } }
  #menu img {
    display: none;
    width: 100px; }
    @media screen and (min-width: 414px) {
      #menu img {
        display: block; } }
  #menu a, #menu span {
    font-family: "DIN Pro Condensed Regular", monospace;
    font-size: 1.5em; }
    @media screen and (min-width: 800px) {
      #menu a, #menu span {
        font-size: 2em; } }
<<<<<<< HEAD
  nav a:hover {
    color: #1944D8; }
=======
    #menu a:hover, #menu span:hover {
      color: #DC00A0; }
>>>>>>> 9eb4cfa982517ada32f6cb9b78a789476ddb08f4

header {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  background-color: #232C33; }
  header .neonSign {
    position: relative;
    display: flex;
    margin: 0 auto; }
    @media screen and (min-width: 500px) {
      header .neonSign {
        width: 500px; } }
    header .neonSign audio {
      display: none; }
    header .neonSign #hello {
      animation: blink linear 4s;
      padding: 0; }
      @media screen and (min-width: 800px) {
        header .neonSign #hello {
          font-size: 8em; } }
    header .neonSign #h {
      animation: blink2 linear 4s; }
      @media screen and (min-width: 800px) {
        header .neonSign #h {
          font-size: 8em; } }
    header .neonSign #backgroundText {
      position: absolute;
      top: 0;
      left: 0;
      padding-left: 15px;
      font-size: 5rem;
      font-family: "Neon Lights", sans-serif;
      opacity: 0.25;
      color: #e9e9e9; }
      @media screen and (min-width: 800px) {
        header .neonSign #backgroundText {
          font-size: 8em; } }
  header .intro {
    text-align: right;
    padding-right: 0.5em;
    font-size: 1.5em;
    margin: 0 auto;
    color: #e9e9e9;
    min-width: 300px; }
    @media screen and (min-width: 500px) {
      header .intro {
        width: 500px; } }
    @media screen and (min-width: 414px) {
      header .intro {
        font-size: 2em; } }
  header a {
    margin: 0 auto;
    margin-top: 20px; }

.work-heading {
  background-color: #112739;
  display: flex;
  justify-content: center;
  height: 150px;
  border-top: 5px solid #DC00A0; }
  .work-heading .fp-tableCell {
    text-align: center; }

.work-content {
  width: 100%; }
  .work-content a {
    display: block;
    font-size: 2.1em;
    font-family: "DIN Pro Condensed Regular", monospace;
    text-decoration: underline;
    letter-spacing: 2px;
    padding: 15px; }
    .work-content a:hover {
      color: #DC00A0; }
  .work-content h2 {
    font-size: 1.2em;
    padding: 15px; }
  .work-content img {
    width: auto;
    height: 200px; }
    @media screen and (min-width: 760px) {
      .work-content img {
        width: 50%;
        height: auto; } }
  .work-content p {
    line-height: 1.5;
    margin-left: 15px; }

#section2 {
  max-width: 1000px;
  margin: 0 auto; }
  #section2 .fp-tableCell {
    vertical-align: top; }

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; }
  @media screen and (min-width: 415px) {
    .top {
      margin-top: 150px; } }
  .top #about-heading {
    font-family: "DIN Pro Condensed Regular", monospace;
    text-align: center;
    font-size: 3.5em;
    padding-right: 15px; }

.about-content {
  padding: 15px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto; }
  .about-content p, .about-content h3 {
    font-size: 1.25em;
    line-height: 1.2;
    padding: 10px; }
  .about-content ul {
    line-height: 1.2; }
    @media screen and (min-width: 414px) {
      .about-content ul {
        font-size: 1.2em; } }

#mao {
  align-self: center;
  width: 50%;
  height: 50%;
  max-width: 200px;
  border-radius: 50%;
  border: 1px solid #232C33; }

.aboutImages {
  display: none; }
  @media screen and (min-height: 900px) {
    .aboutImages {
      display: flex;
      justify-content: center; } }
  .aboutImages img {
    width: 30%;
    height: 30%;
    padding: 5px; }

.about-resume {
  text-align: center; }
  .about-resume #resume {
    align-self: center;
    font-size: 1.2em;
    font-family: "DIN Pro Condensed Regular", monospace;
    transition: all 0.5s ease-in-out;
    letter-spacing: 2px; }
    @media screen and (min-width: 414px) {
      .about-resume #resume {
        font-size: 2em;
        padding-top: 25px; } }
  .about-resume #resume:hover {
    color: #1944D8; }

#section3 {
  background: url("../img/fish.png") bottom;
  background-size: cover; }

.contact-content {
  width: 100%;
  height: 90vh;
  padding-top: 25%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center; }
  .contact-content .icons {
    display: flex;
    justify-content: center; }
    @media screen and (min-width: 760px) {
      .contact-content .icons {
        padding-bottom: 20px; } }
    .contact-content .icons a {
      padding: 10px 10px 0 10px; }
  .contact-content p {
    padding: 20px 10px;
    font-size: 1.2em;
    font-weight: bold; }
  .contact-content #email {
    font-size: 1.5em;
    transition: all 0.5s ease-in-out; }
  .contact-content #email:hover {
    color: #1944D8; }

.heading {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin: 0 auto; }
  @media screen and (min-width: 415px) {
    .heading h2 {
      font-size: 5em;
      height: 300px; } }

.wide {
  width: 30%;
  height: 500px;
  padding: 150px;
  background: #112739;
  display: none;
  z-index: -1; }
  @media screen and (min-width: 759px) {
    .wide {
      display: flex;
      justify-content: center;
      align-content: center; } }

.resume {
  width: 100%;
  height: auto;
  max-width: 800px;
  margin: 20px auto; }

.noble-study {
  display: flex;
  flex-flow: column; }
  .noble-study .case-header {
    width: 100%;
    height: 500px;
    background: url("../img/noble/CaseHeader.png") center;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center; }
    .noble-study .case-header span {
      background: white;
      width: 300px;
      height: auto;
      font-family: "DIN Pro Condensed Regular", monospace;
      padding: 20px;
      text-align: center;
      font-size: 1.5em; }
    .noble-study .case-header #noble-title {
      font-size: 3em; }
  .noble-study .noble {
    width: 300px;
    height: auto;
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    line-height: 1.5; }
    .noble-study .noble h1 {
      font-family: "DIN Pro Condensed Regular", monospace;
      font-size: 2em; }
  .noble-study .case-intro {
    width: 100%;
    font-size: 1.2em;
    background: #ebeffb;
    padding: 35px; }

/*!
 * fullPage 2.7.9
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 * Contribution by Jhony0311
 */
html.fp-enabled,
.fp-enabled body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: transparent; }

#superContainer {
  height: 100%;
  position: relative;
  /* Touch detection for Windows 8 */
  -ms-touch-action: none;
  /* IE 11 on Windows Phone 8.1*/
  touch-action: none; }

.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari<=5 Android<=3 */
  -moz-box-sizing: border-box;
  /* <=28 */
  box-sizing: border-box; }

.fp-slide {
  float: left; }

.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block; }

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  /* Safari<=6 Android<=4.3 */
  transition: all 0.3s ease-out; }

.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%; }

.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%; }

.fp-slidesContainer {
  float: left;
  position: relative; }

.fp-controlArrow {
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
  position: absolute;
  z-index: 4;
  top: 85%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
  .fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 20px 15px 20px 0;
    border-color: transparent #6683E1 transparent transparent; }
  .fp-controlArrow.fp-next {
    right: 15px;
    border-width: 20px 0 20px 15px;
    border-color: transparent transparent transparent #6683E1; }

.fp-scrollable {
  overflow: scroll; }

.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important; }

.fp-slidesNav {
  position: absolute;
  z-index: 4;
  left: 50%;
  opacity: 1; }
  .fp-slidesNav.bottom {
    bottom: 17px; }
  .fp-slidesNav.top {
    top: 17px; }

#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0; }
  #fp-nav ul li,
  .fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position: relative; }
    #fp-nav ul li a,
    .fp-slidesNav ul li a {
      display: block;
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      cursor: pointer;
      text-decoration: none; }
      #fp-nav ul li a.active span,
      .fp-slidesNav ul li a.active span {
        height: 12px;
        width: 12px;
        margin: -6px 0 0 -6px;
        border-radius: 100%; }
        #fp-nav ul li:hover #fp-nav ul li a.active span, #fp-slidesNav ul li:hover #fp-nav ul li a.active span, #fp-nav ul li:hover
        .fp-slidesNav ul li a.active span, #fp-slidesNav ul li:hover
        .fp-slidesNav ul li a.active span {
          height: 12px;
          width: 12px;
          margin: -6px 0 0 -6px;
          border-radius: 100%; }
      #fp-nav ul li a span,
      .fp-slidesNav ul li a span {
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        height: 4px;
        width: 4px;
        border: 0;
        background: #333;
        left: 50%;
        top: 50%;
        margin: -2px 0 0 -2px;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out; }
    #fp-nav ul li:hover a span,
    .fp-slidesNav ul li:hover a span {
      width: 10px;
      height: 10px;
      margin: -5px 0px 0px -5px; }

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0); }
  #fp-nav.right {
    right: 17px; }
  #fp-nav.left {
    left: 17px; }
  #fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
    cursor: pointer; }
    #fp-nav ul li .fp-tooltip.right {
      right: 20px; }
  #fp-nav ul li:hover .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1; }
  #fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1; }

.fp-slidesNav ul li {
  display: inline-block; }

.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell {
  height: auto !important; }

/*# sourceMappingURL=main.css.map */
