////fonts
$font-stack: 'DIN Pro Condensed Regular', monospace;
$text-font: 'Colab Light', sans-serif;
$hello-font: 'Neon Lights', sans-serif;
//////colors

$mid-blue: #6683E1;

$bright-blue: #1944D8;

$light-blue: #8AA0E8;

$dark-grey: #232C33;

$dark-blue: #112739;

$text-color: #4A4A4A;

$neon-color: #E48EC6;

$shadow-color: #DC00A0;

$light-grey: #e9e9e9;

$about-background: #ebeffb;

%text {
  font-family: $text-font;
  font-weight: 200;
}

%button {
  border: 2px solid $dark-blue;
  background-color: $about-background;
  padding: 5px;
  border-radius: 3px;

}

%heading {
  align-self: center;
  width: 100%;
  background: $dark-grey;
  height: 50px;
  text-align: center;
  font-size: 2em;
  color: $mid-blue;
  padding-top: 8px;
  font-family: $font-stack;
}

 %hello {
   padding-left: 15px;
   font-size: 5rem;
   color: #F3AAC3;
   -webkit-text-stroke-width: 4px;
   -webkit-text-stroke-color:lighten($shadow-color, 30%);
   font-family: $hello-font;
   text-shadow: 0px 0px 25px $shadow-color, 20px 0 50px $shadow-color, -20px 0 50px $shadow-color, 0px -18px 70px $shadow-color, 0px 18px 70px $shadow-color;
 }

%hover {
  text-decoration: underline solid $shadow-color;
}
