////fonts
$font-stack: 'DIN Pro Condensed Regular', monospace;
$text-font: 'Roboto', sans-serif;
//////colors

$mid-blue: #6683E1;

$bright-blue: #1944D8;

$light-blue: #8AA0E8;

$dark-grey: #232C33;

$text-color: #4A4A4A;


%text {
  font-family: $text-font;
  font-weight: 100;
}

%heading {
  align-self: center;
  width: 100%;
  background: $dark-grey;
  height: 50px;
  text-align: center;
  font-size: 2em;
  color: $mid-blue;
  padding-top: 8px;
  font-family: $font-stack;
}
