
.about-content {
  padding: 15px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  p, h3 {
    font-size: 1.25em;
    line-height: 1.2;
    padding: 10px;
  }
  ul {
    line-height: 1.2;
  }
  img {
    align-self: center;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: 6px solid $dark-grey;
  }
}

.icons {
  display: flex;
  justify-content: center;
  border-top: 1px solid $dark-grey;
  a {
    padding: 10px 10px 0 10px;
  }
  #resume {
    align-self: center;
    font-size: 2em;
    font-family: $font-stack;
    transition: all 0.5s ease-in-out;
  }
  #resume:hover {
    color: $bright-blue;
  }
}

.skills {
  text-align: center;
  display: flex;
  flex-flow: column;
  h3{
    color: $bright-blue;
    font-size: 2em;
  }
  ul {
    margin: 5px;
    display: flex;
  }
  .js {
    display: flex;
    flex-flow: column;
    li {
      align-self: flex-start;
    }
  }
}
.contact-content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  #email {
    font-size: 1.5em;
    margin: 20px 0;
    transition: all 0.5s ease-in-out;
  }
  #email:hover {
    color: $bright-blue;
  }
  .icons {
    a img {
      margin: 10px 20px;
      width: 50px;

    }
  }
}
