#about {
background-color: $about-background;
padding: 150px 0;
max-width: 1000px;
margin: 0 auto;
}
.top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  #about-heading {
    font-family: $font-stack;
    text-align: center;
    font-size: 3.5em;
    padding-right: 15px;
    // @media screen and (min-width: 760px) {
    //   display: inline;
    //   height: 80px;
    //   font-size: 3.5em;
    //   width: 100%;
    // }
  }
}
.about-content {
  padding: 15px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  p, h3 {
    font-size: 1.25em;
    line-height: 1.2;
    padding: 10px;
  }
  ul {
    line-height: 1.2;
    font-size: 1.2em;
  }
}
#mao {
  align-self: center;
  width: 50%;
  height: 50%;
  max-width: 200px;
  border-radius: 50%;
  border: 1px solid $dark-grey;
}
.aboutImages {
  display: flex;
  justify-content: center;
  img {
    width: 30%;
    height: 30%;
    padding: 5px;
  }
}
.about-resume {
  text-align: center;
  margin: 0;
  padding: 20px 0;
  #resume {
    align-self: center;
    font-size: 2em;
    font-family: $font-stack;
    transition: all 0.5s ease-in-out;
  }
  #resume:hover {
    color: $bright-blue;
  }
}

//
// .skills {
//   text-align: center;
//   display: flex;
//   flex-flow: column;
//   h3{
//     color: $bright-blue;
//     font-size: 2em;
//   }
//   ul {
//     margin: 5px;
//     display: flex;
//   }
//   .js {
//     display: flex;
//     flex-flow: column;
//     li {
//       align-self: flex-start;
//     }
//   }
// }
