#section3 {
  .fp-tableCell {
    vertical-align: top;
  }
}
.contact-content {
  height: 400px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  .icons {
    display: flex;
    justify-content: center;
    @media  screen and (min-width: 760px) {
      padding-bottom: 20px;
    }
    a {
      padding: 10px 10px 0 10px;
    }
    img {
      width: 75px;
    }
  }
  p {
    padding: 20px 10px;
    font-size: 1.2em;
    font-weight: bold;
  }
  #email {
    @extend %button;
    font-size: 1.5em;
    @media screen and (min-width: 414px) {
      font-size: 2em;
    }
  }
  #email:hover {
    color: $bright-blue;
  }
}


//heading for contact///
.heading {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin: 0 auto;
  h2 {
    @extend %heading;
    @media screen and (min-width: 415px) {
      font-size: 5em;
      height: 150px;

    }
  }
}

.wide {
  width: 30%;
  height: 500px;
  padding: 150px;
  background: $dark-blue;
  display: none;
  z-index: -1;
  @media  screen and (min-width: 759px) {
    display: flex;
    justify-content: center;
    align-content: center;
  }
}
