
.contact-content {
  width: 100%;
  margin: 5% 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  .icons {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $dark-grey;
    @media  screen and (min-width: 760px) {
      padding-bottom: 20px;
      // border-bottom: 1px solid $dark-grey;
    }
    a {
      padding: 10px 10px 0 10px;

    }
  }
  p {
    padding: 20px 10px;
    font-size: 1.2em;
    font-weight: bold;
  }
  #email {
    font-size: 1.5em;
    margin: 20px 0;
    transition: all 0.5s ease-in-out;
  }
  #email:hover {
    color: $bright-blue;
  }
}

#contact-image {
  @media  screen and (min-width: 759px) {
    align-self: center;
    width: 200px;
    height: auto;
    z-index: 999;
  }
}
