
header {
  width: 70%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  @media  screen and (min-width: 500px) {
    width: 500px;
  }
  .neonSign {
    position: relative;
    display: flex;
    audio {
      display: none;
    }
    #hello {
      @extend %hello;
      animation: blink linear 4s;
      padding: 0;
      @media screen and (min-width: 800px) {
        font-size: 8em;
      }
    }
    #h {
      @extend %hello;
      animation: blink2 linear 4s;
      @media screen and (min-width: 800px) {
        font-size: 8em;
      }
    }
    #backgroundText {
      position: absolute;
      top: 0;
      left: 0;
      padding-left: 15px;
      font-size: 5rem;
      font-family: $hello-font;
      opacity: 0.25;
      color: $light-grey;
      @media screen and (min-width: 800px) {
        font-size: 8em;
      }
    }
  }
  .intro {
    text-align: right;
    padding: 0 20px;
    font-size: 1.8em;
    @extend %text;
    min-width: 300px;
    @media screen and (min-width: 414px) {
      font-size: 2em;
    }
  }
  a {
    align-self: center;
    margin-top: 40%;
    img {
      animation-play-state: paused;
    }
    img {
    -webkit-animation: bounce 2.5s;
    animation: bounce 2.5s ease-in-out;
    animation-iteration-count: 2;
    animation-play-state: playing;
    }
  }
}
