
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto 0 auto;
  width: 80%;
  height: 100px;
  max-width: 800px;
  img {
    display: none;
    width: 100px;
    @media screen and (min-width: 414px) {
      display: block;
    }
  }
  a, span {
    font-family: $font-stack;
    margin-left: 20px;
    font-size: 1.5em;
    @media screen and (min-width: 800px) {
      font-size: 2em;
    }
  }
}

header {
  width: 70%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  @media  screen and (min-width: 500px) {
    width: 500px;
  }
  .neonSign {
    position: relative;
    display: flex;
    #hello {
      padding-left: 15px;
      font-size: 5rem;
      color: transparent;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: $neon-color;
      font-family: 'Neon Lights', sans-serif;
      text-shadow: 1px 1px 2px $shadow-color, 0 0 0.2em lighten($shadow-color, 10%), 0 0 1em lighten($shadow-color, 20%), 0px -15px 20px lighten($shadow-color, 20%);
      animation: blink linear 5s;
      @media screen and (min-width: 800px) {
        font-size: 8em;
      }
    }
    #h {
      padding-left: 15px;
      font-size: 5rem;
      color: transparent;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: $neon-color;
      font-family: 'Neon Lights', sans-serif;
      text-shadow: 1px 1px 2px $shadow-color, 0 0 0.2em lighten($shadow-color, 10%), 0 0 1em lighten($shadow-color, 20%), 0px -15px 20px lighten($shadow-color, 20%);
      animation: blink2 linear 5s;
      @media screen and (min-width: 800px) {
        font-size: 8em;
      }
    }
    #backgroundText {
      position: absolute;
      top: 0;
      left: 0;
      padding-left: 15px;
      font-size: 5rem;
      font-family: $hello-font;
      opacity: 0.25;
      color: $light-grey;
    }

  }

  p {
    text-align: right;
    padding: 0 20px;
    font-size: 1.8em;
    @extend %text;
  }
  a {
    align-self: center;
    margin-top: 40%;
    img {
      animation-play-state: paused;
    }
    img:hover {
    -webkit-animation: bounce 2.5s;
    animation: bounce 2.5s ease-in-out;
    animation-iteration-count: 2;
    animation-play-state: playing;
    }
  }
}
