
header {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  background-color: $dark-grey;
  .neonSign {
    position: relative;
    display: flex;
    margin: 0 auto;
    @media  screen and (min-width: 500px) {
      width: 500px;
    }
    audio {
      display: none;
    }
    #hello {
      @extend %hello;
      animation: blink linear 4s;
      padding: 0;
      @media screen and (min-width: 800px) {
        font-size: 8em;
      }
    }
    #h {
      @extend %hello;
      animation: blink2 linear 4s;
      @media screen and (min-width: 800px) {
        font-size: 8em;
      }
    }
    #backgroundText {
      position: absolute;
      top: 0;
      left: 0;
      padding-left: 15px;
      font-size: 5rem;
      font-family: $hello-font;
      opacity: 0.25;
      color: $light-grey;
      @media screen and (min-width: 800px) {
        font-size: 8em;
      }
    }
  }
  .intro {
    text-align: right;
    padding-right: 0.5em;
    font-size: 1.5em;
    margin: 0 auto;
    color: $light-grey;
    @extend %text;
    min-width: 300px;
    @media  screen and (min-width: 500px) {
      width: 500px;
    }
    @media screen and (min-width: 414px) {
      font-size: 2em;
    }
  }
  a {
    margin: 0 auto;
    margin-top: 20px;
  }
}
