
nav {
    // position: fixed;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  width: 100%;
  height: 100px;
  max-width: 800px;
  img {
    display: none;
    width: 100px;
    @media screen and (min-width: 414px) {
      display: block;
    }
  }
  a, span {
    font-family: $font-stack;
    margin-left: 20px;
    font-size: 1.5em;
    @media screen and (min-width: 800px) {
      font-size: 2em;
    }
  }
}
