.noble-study {
  display: flex;
  flex-flow: column;
  // width: 100%;
  .case-header {
    width: 100%;
    height: 500px;
    background: url("../img/noble/CaseHeader.png") center;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    span {
      background: white;
      width: 300px;
      height: auto;
      font-family: $font-stack;
      padding: 20px;
      text-align: center;
      font-size: 1.5em;
    }
    #noble-title {
      font-size: 3em;
    }
  }
  .noble {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    margin: 0 auto;
    line-height: 1.5;
    padding: 50px 35px;
    h1 {
      font-family: $font-stack;
      font-size: 2em;
    }
  }
  .case-intro {
    width: 100%;
    font-size: 1.2em;
  }
}
.case-objective {
  background-color: $light-blue;
}
.case-process {
  background-color: $dark-grey;
  color: white;
  position: relative;
  img {
    position: absolute;
    bottom: -80px;
    right: 10px;
    z-index: 999;
    width: 20%;
    max-width: 400px;
  }
}
.case-result {
  background-color: $light-blue;
}
