#section1 {
    background: url("../img/work1.png") no-repeat;
    background-position: 50% 5%;
    background-size: 200px;
    margin: 0 auto;
    @extend %pinkTop;
    @media screen and (min-width: 768px) {
      background-position: 100px center;
      background-size: 250px;
    }
    @media screen and (min-width: 990px) {
      background-size: 300px;
      background-position: 100px center;
    }
    @media screen and (min-width: 1200px) {
      background-position: 225px center;
    }
  .fp-tableCell {
    padding: 25px 0;
    vertical-align: top;
    @media screen and (min-width: 768px) {
        vertical-align: middle;
        overflow: scroll;
    }
  }
}
.work-heading {
  max-width: 1200px;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  @media screen and (min-width: 414px) {
    margin: 0 auto;
  }
  @media screen and (min-width: 990px) {
    flex-flow: row;
  }

  .collage {
    width: auto;
    display: flex;
    flex-flow: column;
    margin: 250px auto 0 auto;

    @media screen and (min-width: 768px) {
      margin: 0 auto;
      margin-left: 375px;
    }
    @media screen and (min-width: 990px) {
      margin-left: 400px;
    }
    div {
      padding: 10px;
      @media screen and (min-width: 990px) {
        padding: 20px;
      }
    }
    div h2 {
      font-size: 1.5em;
      @media screen and (min-width: 990px) {
        font-size: 2em;
      }
    }
    .work-name h3 {
      font-size: 1.2em;
    }
    .work-name:hover {
      color: $shadow-color;
      text-decoration: line-through;
      cursor: pointer;
    }
    @media screen and (min-width: 990px) {
      align-content: center;
      width: 700px;
    }
  }
}

.work-content {
  color: black;
  flex-flow: column;
  display: flex;
  align-content: center;
  margin-top: 250px; //for the mobile not to overlap work bg img//
  padding: 15px 15px 50px 15px;
  @media screen and (min-width: 768px) {
    margin: 0 auto;
    margin-left: 375px;
    padding: 0px 0px 150px 0px;
  }
  @media screen and (min-width: 990px) {
    margin-left: 400px;
    // height: 100vh;
  }
  @media screen and (min-width: 1000px) {
    margin-left: 520px;
  }
  .back {
    font-size: 2em;
    font-family: $font-stack;
    padding-right: 50px;
    align-self: flex-end;
  }
  a{
    font-size: 2.1em;
    font-family: $font-stack;
    text-decoration: underline;
    letter-spacing: 2px;
    padding: 15px;
    color: black;
    &:hover {
      color: $shadow-color;
    }
  }
  h2 {
    font-size: 1.2em;
    padding: 15px;

  }
  .info-img {
    display: flex;
    flex-flow: row wrap;
    div {
      display: flex;
      flex-flow: column;
      img {
        width: 250px;
        padding: 0 50px;
      }
    }
  }
  img{
    align-self: center;
    width: 80%;
    margin: 20px 0;
    @media screen and (min-width: 760px) {
      width: 300px;
    }
  }
  #wild-img {
    width: 100%;
  }
  #game-img, #taproom-img{
    width: 80%;
  }

  p {
    line-height: 1.5;
    margin-left: 15px;
  }
}
