.work {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background: $dark-grey;
  h2 {
    align-self: center;
    font-size: 2em;
    color: $mid-blue;
  }
}
