@font-face {
  font-family: 'DIN Pro Condensed Regular';
  font-style: normal;
  font-weight: normal;
  src: local('DIN Pro Condensed Regular'), url('../fonts/DINPro-Cond.woff') format('woff');
}

* {
  box-sizing: border-box;
  a {
    text-decoration: none;
    color: black;
  }
}
.container {
  font-family: $font-stack;

}
