
@font-face {
  font-family: 'DIN Pro Condensed Regular';
  font-style: normal;
  font-weight: normal;
  src: local('DIN Pro Condensed Regular'), url('../fonts/DINPro-Cond.woff') format('woff');
}

 @font-face {
   font-family: 'Neon Lights';
   src: url('../fonts/neon-lights.regular.tff') format('tff');
 }


  @font-face {
    font-family: 'Colab Light';
    src: url('../fonts/Colablig.off') format('off');
  }

   @font-face {
     font-family: 'Colab Thin';
     src: url('../fonts/Colabthi.off') format('off');
   }

@font-face {
  font-family: "Hiragino Sans GB W3";
  src: url("3b2646a48566403a55f62ceddbecbe18.eot"); /* IE9*/
  src:
  url("../fonts/3b2646a48566403a55f62ceddbecbe18.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("3b2646a48566403a55f62ceddbecbe18.svg#Hiragino Sans GB W3") format("svg"); /* iOS 4.1- */
}
* {
  box-sizing: border-box;
  a {
    text-decoration: none;
    color: black;
  }
}

.container {
  @extend %text;
  min-width: 320px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

}

.page-content {
  flex: 1;
}
