
@font-face {
  font-family: 'DIN Pro Condensed Regular';
  font-style: normal;
  src: local('DIN Pro Condensed Regular'), url('../fonts/DINPro-Cond.woff') format('woff');
}
@font-face {
  font-family: 'DIN Pro Condensed Light';
  font-style: normal;
  src: local('DIN Pro Condensed Light'), url('../fonts/DINPro-CondLight.woff') format('woff');
}

 @font-face {
   font-family: 'Neon Lights';
   src: url("../fonts/neonlights-webfont.woff") format("woff");
 }


  @font-face {
    font-family: 'Genome Thin';
    src: url('../fonts/genome-thin-webfont.woff') format('woff');
  }

   @font-face {
     font-family: 'Colab Thin';
     src: url('../fonts/ColabThi-webfont.woff') format('woff');
   }

   @font-face {
       font-family: 'Montserrat Light';
       src: url('../fonts/montserrat-light-webfont.woff') format('woff');
       font-weight: normal;
       font-style: normal;

   }
   @font-face {
       font-family: 'Montserrat Hairline';
       src: url('../fonts/montserrat-hairline-webfont.woff') format('woff');
       font-weight: normal;
       font-style: normal;

   }
* {
  box-sizing: border-box;
  a {
    text-decoration: none;
    color: black;
  }
}

.container {
  @extend %text;
  min-width: 320px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: $off-white;
}

.page-content {
  flex: 1;
}
